table{
    margin-left: 30em;
    margin-top: 10em;
    width: 40em;
    text-align: center;
    background-color: rgb(92, 92, 8);
}
th{
    background-color: rgb(170, 43, 43);
}
th,td{
    color: white;
    border: 2px solid black;
}
/* Your CSS Code here. */